html{
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar{
    width: 2vh;
}

html ::-webkit-scrollbar-thumb{ 
    background-color: lightblue;
}

html ::-webkit-scrollbar-track{    
    background: rgb(255, 192, 203);
}

body {
    background-color: pink;
    color: white;
}

#camera {
    border: 2px dashed black;
    width: 350px;
    width: 300px;
}

.name_of_object {
    color: blue;
}

.heading {
    width: 80%;
    font-size: 22px;
}

#result_object_name,
#result_object_accuracy {
    color: yellow;
}